---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="contact-page">
        <h1>連絡我</h1>
        <p>歡迎透過以下方式與我聯繫：</p>
        <ul>
            <li>Email: your.email@example.com</li>
            <li>Facebook: Jia-You Studio</li>
        </ul>
    </div>
</Layout>